{% extends "_base.html" %}
{% load static %}
{% block title %}
  Programs
{% endblock title %}
{% block content %}
  {% include "./includes/_navbar.html" %}
  {% include "./includes/_add_program_modal.html" %}
  {% include "./includes/_add_institute_modal.html" %}
  <div class="w-full lg:ps-64 bg-gray-100 h-full">
    <div class="p-6 space-y-3">
      <p class="text-2xl font-extrabold text-gray-900 uppercase">Curriculum Maintenance and Management</p>
      <div class="hs-accordion-group ">
        <div class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center bg-white border first:rounded-t-lg last:rounded-b-lg">
          <div class="sm:col-span-1">
            <label for="hs-as-table-product-review-search" class="sr-only">Search</label>
            <div class="relative">
              <input type="text"
                     id="hs-as-table-product-review-search"
                     name="hs-as-table-product-review-search"
                     class="py-2 px-3 ps-11 block w-full border-gray-200 rounded-lg text-sm focus:border-primary-500 focus:ring-primary-500 disabled:opacity-50 disabled:pointer-events-none"
                     placeholder="Search">
              <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none ps-4">
                <svg class="size-4 text-gray-400"
                     xmlns="http://www.w3.org/2000/svg"
                     width="16"
                     height="16"
                     fill="currentColor"
                     viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg>
              </div>
            </div>
          </div>
          <div class="sm:col-span-2">
            <div class="inline-flex gap-x-2">
              <a type="button"
                 href="{% url 'curriculum:edit_institute' %}"
                 class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-primary-600 text-white hover:bg-primary-700 disabled:opacity-50 disabled:pointer-events-none">
                Edit Institute
              </a>
              <button data-hs-overlay="#add-institute"
                      aria-haspopup="dialog"
                      aria-expanded="false"
                      aria-controls="hs-scale-animation-modal"
                      type="button"
                      class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-primary-600 text-white hover:bg-primary-700 disabled:opacity-50 disabled:pointer-events-none">
                Add Institute
              </button>
              <button data-hs-overlay="#add-program"
                      aria-haspopup="dialog"
                      aria-expanded="false"
                      aria-controls="hs-scale-animation-modal"
                      type="button"
                      class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-primary-600 text-white hover:bg-primary-700 disabled:opacity-50 disabled:pointer-events-none">
                Add Program
              </button>
            </div>
          </div>
        </div>
        {% if institutes %}
          {% for institute in institutes %}
            <div class="hs-accordion bg-white border -mt-px first:rounded-t-lg last:rounded-b-lg"
                 id="hs-bordered-heading-one">
              <!-- Display Institute and Programs-->
              <button class="hs-accordion-toggle uppercase hs-accordion-active:text-primary-600 inline-flex items-center gap-x-3 w-full font-semibold text-start text-gray-800 py-4 px-5 hover:text-gray-500 disabled:opacity-50 disabled:pointer-events-none">
                <svg class="hs-accordion-active:hidden block size-3.5"
                     xmlns="http://www.w3.org/2000/svg"
                     width="24"
                     height="24"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor"
                     stroke-width="2"
                     stroke-linecap="round"
                     stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                  <path d="M12 5v14"></path>
                </svg>
                <svg class="hs-accordion-active:block hidden size-3.5"
                     xmlns="http://www.w3.org/2000/svg"
                     width="24"
                     height="24"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor"
                     stroke-width="2"
                     stroke-linecap="round"
                     stroke-linejoin="round">
                  <path d="M5 12h14"></path>
                </svg>
                {{ institute.institute_name }} ({{ institute.acronym }})
              </button>
              <div class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300">
                <div class="pb-4 px-5">
                  <div class="flex flex-col">
                    <div class="p-1.5 min-w-full inline-block align-middle">
                      <div class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden">
                        <table class="min-w-full divide-y divide-gray-200">
                          <tbody class="divide-y divide-gray-200">
                            {% if institute.programs_set.all %}
                              {% for program in institute.programs_set.all %}
                                <tr class="bg-white hover:bg-gray-50">
                                  <td class="size-px whitespace-nowrap">
                                    <div class="px-6 py-3">
                                      {% if program.curriculum_id %}
                                        <a href="{% url 'curriculum:view_program_detail' institute_slug=institute.institute_slug program_slug=program.program_slug %}?curriculum={{ program.curriculum_id }}">
                                          <span class="text-sm text-gray-600">{{ program.program_name }} ({{ program.program_code }})</span> </a>
                                      {% else %}
                                        <a href="{% url 'curriculum:add_program_detail' institute_slug=institute.institute_slug program_slug=program.program_slug %}"> <span class="text-sm text-gray-600">{{ program.program_name }} ({{ program.program_code }})</span> </a>
                                      {% endif %}
                                    </div>
                                  </td>
                                  <td class="size-px whitespace-nowrap text-end">
                                    <div class="px-6 py-3">
                                      {% if program.curriculum_id %}
                                        <a href="{% url 'curriculum:view_program_detail' institute_slug=institute.institute_slug program_slug=program.program_slug %}?curriculum={{ program.curriculum_id }}"
                                           type="button"
                                           class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none">
                                          View
                                        </a>
                                      {% else %}
                                        <a href="{% url 'curriculum:add_program_detail' institute_slug=institute.institute_slug program_slug=program.program_slug %}"
                                           type="button"
                                           class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-primary-600 text-white hover:bg-primary-700 disabled:opacity-50 disabled:pointer-events-none">
                                          Add Courses
                                        </a>
                                      {% endif %}
                                    </div>
                                  </td>
                                </tr>
                              {% endfor %}
                            {% else %}
                              <tr class="bg-white hover:bg-gray-50">
                                <td class="size-px whitespace-nowrap">
                                  <div class="px-6 py-3">{% include "partials/_no_data.html" %}</div>
                                </td>
                              </tr>
                            {% endif %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="min-h-60 flex flex-col bg-white border shadow-sm rounded-b-xl">{% include "partials/_no_data.html" %}</div>
        {% endif %}
        <!-- End of Display Institute and Programs-->
      </div>
    </div>
  </div>
{% endblock content %}
