{% extends "_base.html" %}
{% load compress %}
{% load static %}
{% load i18n %}
{% load allauth account %}
{% load allauth socialaccount %}
{% get_providers as socialaccount_providers %}
<title>
  {% block title %}
    Verify Your Email Address
  {% endblock title %}
</title>
{% block content %}
  <div {% include "./includes/background.html" %}>
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-screen lg:py-0">
      <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0 ">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          {% if token_fail %}
            <div class="text-center">
              <div class="flex justify-center items-center size-12 bg-gray-50 border border-gray-200 rounded-full mx-auto">
                <svg xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 512 512"
                     fill="currentColor"
                     class="flex-shrink-0 size-5 text-gray-800">
                  <path d="M256 32c14.2 0 27.3 7.5 34.5 19.8l216 368c7.3 12.4 7.3 27.7 .2 40.1S486.3 480 472 480L40 480c-14.3 0-27.6-7.7-34.7-20.1s-7-27.8 .2-40.1l216-368C228.7 39.5 241.8 32 256 32zm0 128c-13.3 0-24 10.7-24 24l0 112c0 13.3 10.7 24 24 24s24-10.7 24-24l0-112c0-13.3-10.7-24-24-24zm32 224a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z" />
                </svg>
              </div>
              <h3 class="mt-3 text-lg font-semibold text-gray-800">{% trans "Bad Token" %}</h3>
            {% endif %}
            {% if token_fail %}
              {% url 'account_reset_password' as passwd_reset_url %}
              <p class="mt-1 text-gray-600 text-sm ">
                The password reset link was invalid, possibly because it has already been used.
              </p>
              <p class="mt-4 text-sm text-center text-gray-500">
                Please request a <a href="{{ passwd_reset_url }}"
    class="font-medium text-sm text-primary-600 hover:underline">new password reset.</a>
              </p>
            </div>
          {% else %}
            <form method="post">
              <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">{% trans "Change Password" %}</h1>
              {% csrf_token %}
              <!-- New Password -->
              <label class="my-2 block text-sm font-medium text-gray-900">New Password</label>
              <input type="password"
                     id="new-password1"
                     autocomplete="off"
                     class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                     placeholder="New Password"
                     name="{{ form.new_password1.name }}"
                     required>
              <div id="new-password1-helper" class="text-xs mt-2 text-red-600">{{ form.new_password1.errors }}</div>
              <!-- Confirm New Password -->
              <label for="new-password2"
                     class="block my-2 text-sm font-medium text-gray-900">Confirm New Password</label>
              <input type="password"
                     name="{{ form.new_password2.name }}"
                     id="new-password2"
                     autocomplete="off"
                     placeholder="Confirm New Password"
                     class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                     required>
              <div id="new-password2-helper" class="text-xs mt-2 text-red-600">{{ form.new_password2.errors }}</div>
              <!-- Show Password Checkbox -->
              <div class="flex mt-4">
                <input id="toggle-password"
                       type="checkbox"
                       autocomplete="off"
                       class="shrink-0 mt-0.5 border-gray-200 rounded text-primary-600 focus:ring-primary-500 ">
                <label for="toggle-password" class="text-sm text-gray-500 ms-3">Show password</label>
              </div>
              <!-- Submit Button -->
              <button type="submit"
                      class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center transition-colors duration-300 ease-in-out mt-4">
                {% trans 'Change Password' %}
              </button>
            </form>
            <div class="flex items-center justify-end">
              <a href="{% url 'account_login' %}"
                 class="text-sm font-medium text-primary-600 hover:underline">{% trans "Back to Login" %}</a>
            </div>
            {% compress js %}
              <script>
  document.getElementById('toggle-password').addEventListener('change', function() {
    const passwordFields = [document.getElementById('new-password1'), document.getElementById('new-password2')];
    passwordFields.forEach(field => {
      if (this.checked) {
        field.type = 'text';
      } else {
        field.type = 'password';
      }
    });
  });
              </script>
            {% endcompress %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
