{% extends "_base.html" %}
{% load compress %}
{% load static %}
{% load i18n %}
{% load allauth account %}
{% load allauth socialaccount %}
{% get_providers as socialaccount_providers %}
<title>
  {% block title %}
    Signup
  {% endblock title %}
</title>
{% block content %}
  <div {% include "./includes/background.html" %}>
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-screen lg:py-0">
      <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0 ">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <form method="POST" id="signup-form">
            {% csrf_token %}
            {% if step == 1 %}
              <!-- Personal Information -->
              <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">Create account</h1>
              <p class="text-sm font-semibold text-gray-500 mb-2">Step 1 of 3: Personal Information</p>
              <!-- First Name -->
              <div class="mb-2">
                <label for="{{ personal_form.first_name.id_for_label }}"
                       class="block mb-2 text-sm font-medium">{{ personal_form.first_name.label }}</label>
                <input type="text"
                       id="{{ personal_form.first_name.id_for_label }}"
                       name="{{ form_prefix }}{{ personal_form.first_name.name }}"
                       value="{{ personal_form.first_name.value|default:'' }}"
                       class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-primary-500 focus:ring-primary-500"
                       placeholder="First name"
                       autocomplete="off"
                       required>
              </div>
              <!-- Middle Name -->
              <div class="mb-2">
                <label for="{{ personal_form.middle_name.id_for_label }}"
                       class="inline-block text-sm text-gray-800 mb-2 font-medium">
                  {{ personal_form.middle_name.label }}
                </label>
                <div class="hs-tooltip inline-block">
                  <svg class="inline-block size-3 text-gray-400 dark:text-neutral-600"
                       xmlns="http://www.w3.org/2000/svg"
                       width="16"
                       height="16"
                       fill="currentColor"
                       viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                  </svg>
                  <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded shadow-sm"
                        role="tooltip">Optional</span>
                </div>
                <input type="text"
                       id="{{ personal_form.middle_name.id_for_label }}"
                       name="{{ form_prefix }}{{ personal_form.middle_name.name }}"
                       value="{{ personal_form.middle_name.value|default:'' }}"
                       class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-primary-500 focus:ring-primary-500"
                       autocomplete="off"
                       placeholder="Middle name">
              </div>
              <!-- Last Name -->
              <div class="mb-2">
                <label for="{{ personal_form.last_name.id_for_label }}"
                       class="block mb-2 text-sm font-medium">{{ personal_form.last_name.label }}</label>
                <input type="text"
                       id="{{ personal_form.last_name.id_for_label }}"
                       name="{{ form_prefix }}{{ personal_form.last_name.name }}"
                       value="{{ personal_form.last_name.value|default:'' }}"
                       class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-primary-500 focus:ring-primary-500"
                       placeholder="Last name"
                       autocomplete="off"
                       required>
              </div>
              <!-- Suffix -->
              <div class="mb-2">
                <label for="{{ personal_form.suffix.id_for_label }}"
                       class="inline-block text-sm text-gray-800 mb-2 font-medium">
                  {{ personal_form.suffix.label }}
                </label>
                <div class="hs-tooltip inline-block">
                  <svg class="inline-block size-3 text-gray-400 dark:text-neutral-600"
                       xmlns="http://www.w3.org/2000/svg"
                       width="16"
                       height="16"
                       fill="currentColor"
                       viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                  </svg>
                  <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded shadow-sm"
                        role="tooltip">Optional</span>
                </div>
                <input type="text"
                       id="{{ personal_form.suffix.id_for_label }}"
                       name="{{ form_prefix }}{{ personal_form.suffix.name }}"
                       value="{{ personal_form.suffix.value|default:'' }}"
                       class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-primary-500 focus:ring-primary-500"
                       autocomplete="off"
                       placeholder="Suffix">
              </div>
              <!-- Gender -->
              <div class="mb-2">
                <label class="inline-block text-sm text-gray-800 mb-2 font-medium">{{ personal_form.gender.label }}</label>
                <div class="grid grid-cols-3 gap-2">
                  {% for value, display in personal_form.gender.field.choices %}
                    <label for="gender_{{ value }}"
                           class="flex p-3 w-full bg-white border border-gray-200 rounded-lg text-sm">
                      <span class="text-sm text-gray-500">{{ display }}</span>
                      <input type="radio"
                             id="gender_{{ value }}"
                             required
                             name="{{ form_prefix }}{{ personal_form.gender.name }}"
                             value="{{ value }}"
                             class="ml-auto mt-0.5 border-gray-200 rounded-full text-primary-600 focus:ring-primary-500"
                             {% if value == personal_form.gender.value %}checked{% endif %}>
                    </label>
                  {% endfor %}
                </div>
              </div>
            {% elif step == 2 %}
              <!-- Employment Information -->
              <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">Create account</h1>
              <p class="text-sm font-semibold text-gray-500 mb-2">Step 2 of 3: Employment Information</p>
              <!-- Employment Status -->
              <div class="mb-2">
                <label for="{{ employment_form.employment_status.id_for_label }}"
                       class="block mb-2 text-sm font-medium">{{ employment_form.employment_status.label }}</label>
                <select id="{{ employment_form.employment_status.id_for_label }}"
                        name="{{ form_prefix }}{{ employment_form.employment_status.name }}"
                        class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-primary-500 focus:ring-primary-500"
                        required>
                  <option value=""
                          {% if not employment_form.employment_status.value %}selected{% endif %}
                          disabled>Select Employment Status</option>
                  {% for key, value in employment_form.fields.employment_status.choices %}
                    <option value="{{ key }}"
                            {% if key|stringformat:"s" == employment_form.employment_status.value|stringformat:"s" %}selected{% endif %}>
                      {{ value }}
                    </option>
                  {% endfor %}
                </select>
              </div>
              <!-- Institute -->
              <div class="mb-2">
                <label for="{{ employment_form.institute.id_for_label }}"
                       class="block mb-2 text-sm font-medium">{{ employment_form.institute.label }}</label>
                <select id="{{ employment_form.institute.id_for_label }}"
                        name="{{ form_prefix }}{{ employment_form.institute.name }}"
                        class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-primary-500 focus:ring-primary-500"
                        required>
                  <option value=""
                          {% if not employment_form.institute.value %}selected{% endif %}
                          disabled>Select Institute</option>
                  {% for key, value in employment_form.fields.institute.choices %}
                    {% if not forloop.first %}
                      <option value="{{ key }}"
                              {% if key == employment_form.institute.value %}selected{% endif %}>{{ value }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
              <!-- Program -->
              <div class="mb-2">
                <label for="{{ employment_form.program.id_for_label }}"
                       class="block mb-2 text-sm font-medium">{{ employment_form.program.label }}</label>
                <select id="{{ employment_form.program.id_for_label }}"
                        name="{{ form_prefix }}{{ employment_form.program.name }}"
                        class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-primary-500 focus:ring-primary-500"
                        required>
                  <option value=""
                          {% if not employment_form.program.value %}selected{% endif %}
                          disabled>Select Program</option>
                  {% for key, value in employment_form.fields.program.choices %}
                    {% if not forloop.first %}
                      <option value="{{ key }}"
                              {% if key == employment_form.program.value %}selected{% endif %}>{{ value }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
              <!-- Position -->
              <div class="mb-2">
                <label for="{{ employment_form.position.id_for_label }}"
                       class="block mb-2 text-sm font-medium">{{ employment_form.position.label }}</label>
                <select id="{{ employment_form.position.id_for_label }}"
                        name="{{ form_prefix }}{{ employment_form.position.name }}"
                        class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-primary-500 focus:ring-primary-500"
                        required>
                  <option value=""
                          {% if not employment_form.position.value %}selected{% endif %}
                          disabled>Select Position</option>
                  {% for key, value in employment_form.fields.position.choices %}
                    <option value="{{ key }}"
                            {% if key|stringformat:"s" == employment_form.position.value|stringformat:"s" %}selected{% endif %}>
                      {{ value }}
                    </option>
                  {% endfor %}
                </select>
              </div>
            {% elif step == 3 %}
              <!-- Account Information -->
              <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">Create account</h1>
              <p class="text-sm font-semibold text-gray-500 mb-2">Step 3 of 3: Account Information</p>
              <!-- Email -->
              <div>
                <label for="signup-email"
                       class="block mb-2 text-sm font-medium text-gray-900">{{ signup_form.email.label }}</label>
                <input type="email"
                       autocomplete="off"
                       name="{{ form_prefix }}{{ signup_form.email.name }}"
                       id="signup-email"
                       class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                       placeholder="{{ signup_form.email.label }}"
                       required>
              </div>
              <div id="signup-email-helper" class="text-xs mt-2 text-red-600"></div>
              {% if signup_form.email.errors %}
                <div class="text-xs mt-2 text-red-600">{{ signup_form.email.errors }}</div>
              {% endif %}
              <!-- Password -->
              <label class="my-2 block text-sm font-medium text-gray-900">Password</label>
              <input type="password"
                     id="signup-password1"
                     autocomplete="off"
                     class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                     placeholder="Password"
                     name="{{ form_prefix }}{{ signup_form.password1.name }}"
                     required>
              <div id="signup-password1-helper" class="text-xs mt-2 text-red-600"></div>
              <!-- Confirm Password -->
              <label for="signup-password2"
                     class="block my-2 text-sm font-medium text-gray-900">Confirm password</label>
              <input type="password"
                     name="{{ form_prefix }}{{ signup_form.password2.name }}"
                     id="signup-password2"
                     autocomplete="off"
                     placeholder="Confirm password"
                     class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                     required>
              <div id="signup-password2-helper" class="text-xs mt-2 text-red-600"></div>
              <div class="flex mt-4">
                <input id="toggle-password"
                       type="checkbox"
                       autocomplete="off"
                       class="shrink-0 mt-0.5 border-gray-200 rounded text-primary-600 focus:ring-primary-500 ">
                <label for="toggle-password" class="text-sm text-gray-500 ms-3">Show password</label>
              </div>
            {% endif %}
            <div class="mt-5 flex justify-between items-center gap-4">
              {% if step > 1 %}
                <button type="submit"
                        name="action"
                        value="prev"
                        class="w-full py-2 px-3 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50">
                  Back
                </button>
                {% compress js %}
                  <script>
                  document.addEventListener('DOMContentLoaded', function () {
                    const form = document.querySelector('form');
                    const backButton = form.querySelector('button[name="action"][value="prev"]');

                    if (backButton) {
                      backButton.addEventListener('click', function (event) {
                        // Prevent form submission validation
                        form.setAttribute('novalidate', true);
                      });
                    }
                  });
                  </script>
                {% endcompress %}
              {% endif %}
              {% if step < 3 %}
                <button type="submit"
                        name="action"
                        value="next"
                        class="w-full py-2 px-3 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-primary-600 text-white hover:bg-primary-700 focus:outline-none focus:bg-primary-700">
                  Next
                </button>
              {% else %}
                <button type="submit"
                        name="action"
                        value="submit"
                        id="createAccountSubmit"
                        class="w-full py-2 px-3 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-primary-600 text-white hover:bg-primary-700 focus:outline-none focus:bg-primary-700">
                  Create Account
                </button>
                {% compress js %}
                  <script src="{% static 'js/togglePassword.js' %}"
                          type="text/javascript"
                          charset="utf-8"></script>
                  <script src="{% static 'js/signupHelper.js' %}"
                          type="text/javascript"
                          charset="utf-8"></script>
                {% endcompress %}
              {% endif %}
            </div>
          </form>
          <p class="mt-4 text-sm font-light text-center text-gray-500">
            Already have an account? <a href="{% url 'account_login' %}"
    class="font-medium text-primary-600 hover:underline">{% trans "Login" %}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
