<form id="items-per-page-form" method="GET">
  <div class="max-w-sm space-y-3">
    <select name="items_per_page"
            class="py-2 px-3 pe-9 block border-gray-200 rounded-lg text-sm focus:border-primary-500 focus:ring-primary-500"
            onchange="this.form.submit()">
      <option value="25"
              {% if request.GET.items_per_page == "25" %}selected{% endif %}>25</option>
      <option value="50"
              {% if request.GET.items_per_page == "50" %}selected{% endif %}>50</option>
      <option value="100"
              {% if request.GET.items_per_page == "100" %}selected{% endif %}>100</option>
      <option value="250"
              {% if request.GET.items_per_page == "250" %}selected{% endif %}>250</option>
      <option value="500"
              {% if request.GET.items_per_page == "500" %}selected{% endif %}>500</option>
    </select>
  </div>
</form>
