<div class="hs-accordion-group ">
    <div class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center bg-white border first:rounded-t-lg last:rounded-b-lg">
        <div class="sm:col-span-1">
            <label for="hs-as-table-product-review-search" class="sr-only">Search</label>
            <div class="relative">
                <input type="text"
                       id="hs-as-table-product-review-search"
                       name="hs-as-table-product-review-search"
                       class="py-2 px-3 ps-11 block w-full border-gray-200 rounded-lg text-sm focus:border-primary-500 focus:ring-primary-500 disabled:opacity-50 disabled:pointer-events-none"
                       placeholder="Search">
                <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none ps-4">
                    <svg class="size-4 text-gray-400"
                         xmlns="http://www.w3.org/2000/svg"
                         width="16"
                         height="16"
                         fill="currentColor"
                         viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="sm:col-span-2">
            <div class="inline-flex gap-x-2">
                <div class="hs-dropdown [--placement:bottom-right] relative inline-block"
                     data-hs-dropdown-auto-close="inside">
                    <button id="hs-as-table-table-filter-dropdown"
                            type="button"
                            class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none">
                        <svg class="flex-shrink-0 size-3.5 text-gray-800"
                             xmlns="http://www.w3.org/2000/svg"
                             width="24"
                             height="24"
                             viewBox="0 0 24 24"
                             fill="none"
                             stroke="currentColor"
                             stroke-width="2"
                             stroke-linecap="round"
                             stroke-linejoin="round">
                            <path d="M3 6h18" />
                            <path d="M7 12h10" />
                            <path d="M10 18h4" />
                        </svg>
                        Filter
                        <span class="inline-flex items-center gap-1.5 py-0.5 px-1.5 rounded-full text-xs font-medium border border-gray-300 text-gray-800">
                            2
                        </span>
                    </button>
                    <div class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden divide-y divide-gray-200 min-w-48 z-20 bg-white shadow-md rounded-lg mt-2"
                         aria-labelledby="hs-as-table-table-filter-dropdown">
                        <div class="divide-y divide-gray-200">
                            <label for="hs-as-filters-dropdown-first-semester" class="flex py-2.5 px-3">
                                <input type="checkbox"
                                       class="shrink-0 mt-0.5 border-gray-300 rounded text-primary-600 focus:ring-primary-500 disabled:opacity-50 disabled:pointer-events-none"
                                       id="hs-as-filters-dropdown-first-semester">
                                <span class="ms-3 text-sm text-gray-800">First Semester</span>
                            </label>
                            <label for="hs-as-filters-dropdown-second-semester" class="flex py-2.5 px-3">
                                <input type="checkbox"
                                       class="shrink-0 mt-0.5 border-gray-300 rounded text-primary-600 focus:ring-primary-500 disabled:opacity-50 disabled:pointer-events-none"
                                       id="hs-as-filters-dropdown-second-semester">
                                <span class="ms-3 text-sm text-gray-800">Second Semester</span>
                            </label>
                        </div>
                    </div>
                </div>
                <button data-hs-overlay="#import-file"
                        type="button"
                        class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none">
                    <svg fill="currentColor"
                         class="flex-shrink-0 size-3"
                         width="16"
                         height="16"
                         xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 384 512">
                        <path d="M320 464c8.8 0 16-7.2 16-16V160H256c-17.7 0-32-14.3-32-32V48H64c-8.8 0-16 7.2-16 16V448c0 8.8 7.2 16 16 16H320zM0 64C0 28.7 28.7 0 64 0H229.5c17 0 33.3 6.7 45.3 18.7l90.5 90.5c12 12 18.7 28.3 18.7 45.3V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V64z" />
                    </svg>
                    Import .CSV
                </button>
                <button data-hs-overlay="#add-courses"
                        type="button"
                        class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-primary-600 text-white hover:bg-primary-700 disabled:opacity-50 disabled:pointer-events-none">
                    <svg class="flex-shrink-0 size-4"
                         xmlns="http://www.w3.org/2000/svg"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         fill="none"
                         stroke="currentColor"
                         stroke-width="2"
                         stroke-linecap="round"
                         stroke-linejoin="round">
                        <path d="M5 12h14" />
                        <path d="M12 5v14" />
                    </svg>
                    Add Course
                </button>
            </div>
        </div>
    </div>
    <div class="hs-accordion bg-white border -mt-px first:rounded-t-lg last:rounded-b-lg"
         id="hs-bordered-heading-two">
        <button class="hs-accordion-toggle hs-accordion-active:text-primary-600 inline-flex items-center gap-x-3 w-full font-semibold text-start text-gray-800 py-4 px-5 hover:text-gray-500 disabled:opacity-50 disabled:pointer-events-none"
                aria-controls="hs-basic-bordered-collapse-two">
            <svg class="hs-accordion-active:hidden block size-3.5"
                 xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 fill="none"
                 stroke="currentColor"
                 stroke-width="2"
                 stroke-linecap="round"
                 stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5v14"></path>
            </svg>
            <svg class="hs-accordion-active:block hidden size-3.5"
                 xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 fill="none"
                 stroke="currentColor"
                 stroke-width="2"
                 stroke-linecap="round"
                 stroke-linejoin="round">
                <path d="M5 12h14"></path>
            </svg>
            First Year
        </button>
        <div id="hs-basic-bordered-collapse-two"
             class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
             aria-labelledby="hs-bordered-heading-two">
            <div class="pb-4 px-5">{% include "./first-year.html" %}</div>
        </div>
    </div>
    <div class="hs-accordion bg-white border -mt-px first:rounded-t-lg last:rounded-b-lg"
         id="hs-bordered-heading-two">
        <button class="hs-accordion-toggle hs-accordion-active:text-primary-600 inline-flex items-center gap-x-3 w-full font-semibold text-start text-gray-800 py-4 px-5 hover:text-gray-500 disabled:opacity-50 disabled:pointer-events-none"
                aria-controls="hs-basic-bordered-collapse-two">
            <svg class="hs-accordion-active:hidden block size-3.5"
                 xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 fill="none"
                 stroke="currentColor"
                 stroke-width="2"
                 stroke-linecap="round"
                 stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5v14"></path>
            </svg>
            <svg class="hs-accordion-active:block hidden size-3.5"
                 xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 fill="none"
                 stroke="currentColor"
                 stroke-width="2"
                 stroke-linecap="round"
                 stroke-linejoin="round">
                <path d="M5 12h14"></path>
            </svg>
            Second Year
        </button>
        <div id="hs-basic-bordered-collapse-two"
             class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
             aria-labelledby="hs-bordered-heading-two">
            <div class="pb-4 px-5">{% include "./second-year.html" %}</div>
        </div>
    </div>
    <div class="hs-accordion bg-white border -mt-px first:rounded-t-lg last:rounded-b-lg"
         id="hs-bordered-heading-three">
        <button class="hs-accordion-toggle hs-accordion-active:text-primary-600 inline-flex items-center gap-x-3 w-full font-semibold text-start text-gray-800 py-4 px-5 hover:text-gray-500 disabled:opacity-50 disabled:pointer-events-none"
                aria-controls="hs-basic-bordered-collapse-three">
            <svg class="hs-accordion-active:hidden block size-3.5"
                 xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 fill="none"
                 stroke="currentColor"
                 stroke-width="2"
                 stroke-linecap="round"
                 stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5v14"></path>
            </svg>
            <svg class="hs-accordion-active:block hidden size-3.5"
                 xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 fill="none"
                 stroke="currentColor"
                 stroke-width="2"
                 stroke-linecap="round"
                 stroke-linejoin="round">
                <path d="M5 12h14"></path>
            </svg>
            Third Year
        </button>
        <div id="hs-basic-bordered-collapse-three"
             class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
             aria-labelledby="hs-bordered-heading-three">
            <div class="pb-4 px-5">{% include "./third-year.html" %}</div>
        </div>
    </div>
    <div class="hs-accordion bg-white border -mt-px first:rounded-t-lg last:rounded-b-lg"
         id="hs-bordered-heading-three">
        <button class="hs-accordion-toggle hs-accordion-active:text-primary-600 inline-flex items-center gap-x-3 w-full font-semibold text-start text-gray-800 py-4 px-5 hover:text-gray-500 disabled:opacity-50 disabled:pointer-events-none"
                aria-controls="hs-basic-bordered-collapse-three">
            <svg class="hs-accordion-active:hidden block size-3.5"
                 xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 fill="none"
                 stroke="currentColor"
                 stroke-width="2"
                 stroke-linecap="round"
                 stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5v14"></path>
            </svg>
            <svg class="hs-accordion-active:block hidden size-3.5"
                 xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 fill="none"
                 stroke="currentColor"
                 stroke-width="2"
                 stroke-linecap="round"
                 stroke-linejoin="round">
                <path d="M5 12h14"></path>
            </svg>
            Fourth Year
        </button>
        <div id="hs-basic-bordered-collapse-three"
             class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
             aria-labelledby="hs-bordered-heading-three">
            <div class="pb-4 px-5">{% include "./fourth-year.html" %}</div>
        </div>
    </div>
</div>
