<div id="add-program"
     class="hs-overlay hidden size-full fixed top-0 start-0 z-[80] overflow-x-hidden overflow-y-auto">
  <div class="hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 mt-0 opacity-0 ease-out transition-all sm:max-w-lg sm:w-full m-3 sm:mx-auto">
    <div class="flex flex-col bg-white border shadow-sm rounded-xl pointer-events-auto">
      <div class="flex justify-between items-center py-3 px-4  border-b">
        <h3 class="font-bold text-gray-800">Add Program</h3>
        <button type="button"
                class="flex justify-center items-center size-7 text-sm font-semibold rounded-full border border-transparent text-gray-800 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none"
                data-hs-overlay="#add-program">
          <span class="sr-only">Close</span>
          <svg class="flex-shrink-0 size-4"
               xmlns="http://www.w3.org/2000/svg"
               width="24"
               height="24"
               viewBox="0 0 24 24"
               fill="none"
               stroke="currentColor"
               stroke-width="2"
               stroke-linecap="round"
               stroke-linejoin="round">
            <path d="M18 6 6 18"></path>
            <path d="m6 6 12 12"></path>
          </svg>
        </button>
      </div>
      <form method="post" action="{% url 'programs:programs' %}">
        {% csrf_token %}
        <div class="p-4 overflow-y-auto">
          <label for="input-label" class="block text-sm font-medium mb-2">Program Code</label>
          <input name="program_name"
                 type="text"
                 id="input-label"
                 class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-primary-500 focus:ring-primary-500"
                 placeholder="e.g. BSIT"
                 value=""
                 required
                 autofocus="">
          <label for="input-label" class="block text-sm font-medium my-2">Program Name</label>
          <input name="program_code"
                 type="text"
                 id="input-label"
                 class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-primary-500 focus:ring-primary-500"
                 placeholder="e.g. Bachelor of Science in Information Technology"
                 value=""
                 required=""
                 autofocus="">
        </div>
        <div class="flex justify-end items-center gap-x-2 py-3 px-4">
          <button type="button"
                  class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
                  data-hs-overlay="#add-program">Close</button>
          <button type="submit"
                  class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-primary-600 text-white hover:bg-primary-700 disabled:opacity-50 disabled:pointer-events-none">
            Save changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Add Curriculum Version -->
<div id="add_curriculum_version"
     class="hs-overlay hidden size-full fixed top-0 start-0 z-[80] overflow-x-hidden overflow-y-auto">
  <div class="hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 mt-0 opacity-0 ease-out transition-all sm:max-w-lg sm:w-full m-3 sm:mx-auto">
    <div class="flex flex-col bg-white border shadow-sm rounded-xl pointer-events-auto">
      <div class="flex justify-between items-center py-3 px-4  border-b">
        <h3 class="font-bold text-gray-800">Add Curriculum Version</h3>
        <button type="button"
                class="flex justify-center items-center size-7 text-sm font-semibold rounded-full border border-transparent text-gray-800 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none"
                data-hs-overlay="#add_curriculum_version">
          <span class="sr-only">Close</span>
          <svg class="flex-shrink-0 size-4"
               xmlns="http://www.w3.org/2000/svg"
               width="24"
               height="24"
               viewBox="0 0 24 24"
               fill="none"
               stroke="currentColor"
               stroke-width="2"
               stroke-linecap="round"
               stroke-linejoin="round">
            <path d="M18 6 6 18"></path>
            <path d="m6 6 12 12"></path>
          </svg>
        </button>
      </div>
      <form method="post" action="{% url 'programs:curriculum-version' %}">
        {% csrf_token %}
        <div class="p-4 overflow-y-auto">
          <input name="version_name"
                 type="text"
                 id="input-label"
                 class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-primary-500 focus:ring-primary-500"
                 placeholder="e.g. CURRICULUM AY 24-25"
                 autofocus=""
                 required>
        </div>
        <div class="flex justify-end items-center gap-x-2 py-3 px-4">
          <button type="button"
                  class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
                  data-hs-overlay="#add_curriculum_version">Close</button>
          <button type="submit"
                  class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-primary-600 text-white hover:bg-primary-700 disabled:opacity-50 disabled:pointer-events-none">
            Save changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Add course -->
<div id="add-courses"
     class="hs-overlay hidden size-full fixed top-0 start-0 z-[80] overflow-x-hidden overflow-y-auto">
  <div class="hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 mt-0 opacity-0 ease-out transition-all sm:max-w-lg sm:w-full m-3 sm:mx-auto">
    <div class="flex flex-col bg-white border shadow-sm rounded-xl pointer-events-auto">
      <div class="flex justify-between items-center py-3 px-4 border-b">
        <h3 class="font-bold text-gray-800">Add course</h3>
        <button type="button"
                class="flex justify-center items-center size-7 text-sm font-semibold rounded-full border border-transparent text-gray-800 hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none"
                data-hs-overlay="#add-courses">
          <span class="sr-only">Close</span>
          <svg class="flex-shrink-0 size-4"
               xmlns="http://www.w3.org/2000/svg"
               width="24"
               height="24"
               viewBox="0 0 24 24"
               fill="none"
               stroke="currentColor"
               stroke-width="2"
               stroke-linecap="round"
               stroke-linejoin="round">
            <path d="M18 6 6 18"></path>
            <path d="m6 6 12 12"></path>
          </svg>
        </button>
      </div>
      <form action="{% url 'programs:courses' %}" method="post">
        {% csrf_token %}
        <div class="p-4 overflow-y-auto">
          <label for="input-label" class="block text-sm font-medium mb-2">Course Code</label>
          <input type="text"
                 name="course_code"
                 id="input-label"
                 class="mb-2 py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-primary-500 focus:ring-primary-500"
                 placeholder="e.g. IT111"
                 required
                 autofocus="">
          <label for="input-label" class="block text-sm font-medium mb-2">Course Description</label>
          <input type="text"
                 name="course_description"
                 id="input-label"
                 class="mb-2 py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-primary-500 focus:ring-primary-500"
                 placeholder="e.g. Introduction to Computing"
                 required
                 autofocus="">
          <label for="academic-label" class="block text-sm font-medium mb-2">Academic Level</label>
          <select id="academic-label"
                  name="year_level"
                  required
                  class="mb-2 py-3 px-4 pe-9 block w-full border-gray-200 rounded-lg text-sm focus:border-primary-500 focus:ring-primary-500 disabled:opacity-50 disabled:pointer-events-none">
            <option selected disabled>Academic Level</option>
            <option value='1'>First Year</option>
            <option value='2'>Second Year</option>
            <option value='3'>Third Year</option>
            <option value='4'>Fourth Year</option>
          </select>
          <label for="semester-label" class="block text-sm font-medium mb-2">Semester</label>
          <select id="semester-label"
                  name="semester"
                  required
                  class="py-3 mb-2 px-4 pe-9 block w-full border-gray-200 rounded-lg text-sm focus:border-primary-500 focus:ring-primary-500 disabled:opacity-50 disabled:pointer-events-none">
            <option selected disabled>Semester</option>
            <option value='1'>First Semester</option>
            <option value='2'>Second Semesterr</option>
          </select>
          <label for="input-label" class="block text-sm font-medium mb-2">Lecture Hours</label>
          <input type="number"
                 name="lecture"
                 id="input-label"
                 class="mb-2 py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-primary-500 focus:ring-primary-500"
                 placeholder="Lecture Hours"
                 required
                 autofocus="">
          <label for="input-label" class="block text-sm font-medium mb-2">Lab Hours</label>
          <input type="number"
                 id="input-label"
                 class="mb-2 py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-primary-500 focus:ring-primary-500"
                 placeholder="Lab Hours"
                 name="laboratory"
                 autofocus="">
        </div>
        <div class="flex justify-end items-center gap-x-2 py-3 px-4">
          <button type="button"
                  class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
                  data-hs-overlay="#add-courses">Close</button>
          <button type="submit"
                  class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-primary-600 text-white hover:bg-primary-700 disabled:opacity-50 disabled:pointer-events-none">
            Save changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
