{% load compress %}
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DNSC AcadSked |
      {% block title %}
      {% endblock title %}
    </title>
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon"
          type="image/png"
          sizes="32x32"
          href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="{% static 'favicon/favicon-16x16.png' %}">
    {% compress css %}
      <link rel="stylesheet"
            href="{% if debug %}{% static 'css/styles.css' %}{% else %}{% static 'css/styles.min.css' %}{% endif %}">
    {% endcompress %}
  </head>
  <body class="bg-gray-100 [&::-webkit-scrollbar]:w-3 [&::-webkit-scrollbar-thumb]:rounded-full   [&::-webkit-scrollbar-thumb]:bg-gray-300">
    {% include "partials/_toast_message.html" %}
    {% include "partials/_logout_modal.html" %}
    {% block content %}
    {% endblock content %}
    {% compress js %}
      <script src="{% static 'preline/dist/preline.js' %}"></script>
      {% comment %} <script src="{% static 'js/preventUnsavedChanges.js' %}"></script> {% endcomment %}
      <script src="{% static 'js/main.js' %}"></script>
      <script src="{% static 'js/toastMessage.js' %}"></script>
      <script src="{% static 'js/itemsPerPage.js' %}"></script>
      {% block message %}
      {% endblock message %}
    {% endcompress %}
    {{ redirect_to_login_immediately }}
  </body>
</html>
