{% extends "_base.html" %}
{% load static %}
{% block title %}
    Manage Institutes
{% endblock title %}
{% block content %}
    {% include "./includes/navbar.html" %}
    <div class="w-full lg:ps-64 bg-gray-100 h-full">
        <div class="p-6 space-y-3">
            <p class="text-2xl font-extrabold text-gray-900">Manage Institutes</p>
            <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-2">
                <button data-hs-overlay="#add-institute"
                        type="button"
                        class="flex flex-col items-center justify-center  max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100  text-gray-500 ">
                    <svg class="w-8 m-2"
                         fill="currentColor"
                         aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 512 512">
                        <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM232 344V280H168c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H280v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z" />
                    </svg>
                    <p class="mb-3 font-normal text-gray-500 0">Add Institute</p>
                </button>
                {% for institute in institutes %}
                    <div class="max-w-xs flex flex-col  bg-white border border-t-4 border-t-primary-600 shadow-sm rounded-xl">
                        <div class="inline-flex justify-between pe-4 ps-4 pt-4">
                            <h2 class="text-2xl font-bold text-gray-800">{{ institute.acronym }}</h2>
                            <div class="hs-dropdown relative inline-flex [--placement:bottom-left]">
                                <button id="hs-split-dropdown"
                                        type="button"
                                        class="hs-dropdown-toggle relative -ms-[.3125rem] inline-flex items-center gap-x-2 text-sm font-semibold rounded-e-md">
                                    <svg class="flex-none size-4 text-gray-600"
                                         xmlns="http://www.w3.org/2000/svg"
                                         width="24"
                                         height="24"
                                         viewBox="0 0 24 24"
                                         fill="none"
                                         stroke="currentColor"
                                         stroke-width="2"
                                         stroke-linecap="round"
                                         stroke-linejoin="round">
                                        <circle cx="12" cy="12" r="1" /><circle cx="12" cy="5" r="1" /><circle cx="12" cy="19" r="1" />
                                    </svg>
                                </button>
                                <div class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden divide-y divide-gray-200 min-w-40 z-20 bg-white shadow-2xl rounded-lg p-2 mt-2"
                                     aria-labelledby="hs-table-dropdown-1">
                                    <div class="py-2 first:pt-0 last:pb-0">
                                        <span class="block py-2 px-3 text-xs font-medium uppercase text-gray-400">Actions</span>
                                        <a class="flex items-center gap-x-3 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-primary-500"
                                           href="#">View</a>
                                        <button data-hs-overlay="#edit-institute"
                                                type="button"
                                                class="w-full flex items-center gap-x-3 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-primary-500">
                                            Edit
                                        </button>
                                    </div>
                                    <div class="py-2 first:pt-0 last:pb-0">
                                        <button data-hs-overlay="#delete-institute"
                                                type="button"
                                                class="w-full flex items-center gap-x-3 py-2 px-3 rounded-lg text-sm text-red-600 hover:bg-gray-100 focus:ring-2 focus:ring-primary-500">
                                            Delete
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pe-4 ps-4">
                            <p class="mt-2 text-gray-500">{{ institute.institute_name }}</p>
                        </div>
                        <div class="pb-4 pe-4 ps-4 mt-auto">
                            <a class=" mt-3  inline-flex items-center gap-x-1 text-sm font-semibold rounded-lg border border-transparent text-primary-600 hover:primary-blue-800 disabled:opacity-50 disabled:pointer-events-none"
                               href="{% url 'institutes:assign-faculty' %}">
                                View institute
                                <svg class="flex-shrink-0 size-4"
                                     xmlns="http://www.w3.org/2000/svg"
                                     width="24"
                                     height="24"
                                     viewBox="0 0 24 24"
                                     fill="none"
                                     stroke="currentColor"
                                     stroke-width="2"
                                     stroke-linecap="round"
                                     stroke-linejoin="round">
                                    <path d="m9 18 6-6-6-6"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
